.billing_navbar_container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    height: 100px;
    background: rgb(230, 207, 207);
    margin: 0 auto;
}

.billing_nav_left {
    display: flex;
    gap: 20px;
}

.billing_nav_left input {
    border: 2px solid gray;
    padding: 5px;
}

.billing_nav_right button {
    border: none;
    background: rgb(8, 75, 64);
    padding: 10px;
    color: white;
    border-radius: 8px;
}